header {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    svg {
        position: relative;
        margin: 0 0 -5px -26px;
        left: 50%;
    }
    h1 {
        text-align: center;
    }
}