@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Lato:wght@400;700&family=Roboto&display=swap");
header h1 {
  font-family: "DM Sans";
  font-size: 2.25rem;
  color: #D04F4F;
}

.search-input {
  font-family: "Lato";
  font-weight: 400;
  font-size: 1.125rem;
}

.tag {
  font-family: "Lato";
  font-weight: 700;
  font-size: 0.875rem;
  color: white;
}

.list .show {
  font-family: "Lato";
  font-weight: 700;
  font-size: 1.125rem;
  color: white;
}
.list i {
  font-size: 1.125rem;
  color: white;
}
.list .expanded input {
  font-family: "Lato";
  font-weight: 700;
  font-size: 1.125rem;
  color: white;
}
.list .expanded input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
.list .listed-item {
  font-size: 1.125rem;
  font-weight: 400;
  color: white;
}

.recipe {
  font-family: "Lato";
}
.recipe-title {
  font-size: 1.125rem;
  font-weight: 400;
}
.recipe-time {
  font-size: 1.125rem;
  font-weight: 700;
}
.recipe .item-ingredient {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.8rem;
}
.recipe .item-quantity {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.8rem;
}
.recipe-directions {
  font-family: "Roboto";
  font-size: 0.75rem;
  line-height: 0.75rem;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

input {
  border: none;
  outline: none;
}

html {
  max-width: 1415px;
  margin: auto;
  padding: 50px;
  font-size: 100%;
}

.search-bar {
  position: relative;
  width: 100%;
  height: 70px;
  border-radius: 5px;
  background-color: #E7E7E7;
}
.search-input {
  width: inherit;
  border: none;
  outline: none;
  padding: 22px;
  padding-right: 52px;
  background-color: #E7E7E7;
}
.search-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.search-submit {
  position: absolute;
  right: 17px;
  top: 19px;
  border: none;
  background-color: #E7E7E7;
  cursor: pointer;
}
.search-submit i {
  font-size: 1.9rem;
}

.search-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
}

.tag {
  position: relative;
  display: inline-block;
  padding: 8px 45px 8px 18px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.tag i {
  position: absolute;
  top: 50%;
  right: 18px;
  margin-top: -0.6rem;
  font-size: 1.2rem;
  padding-left: 10px;
  cursor: pointer;
}

header {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}
header svg {
  position: relative;
  margin: 0 0 -5px -26px;
  left: 50%;
}
header h1 {
  text-align: center;
}

.search-lists {
  display: flex;
  gap: 0 20px;
}

.list {
  position: relative;
}
.list .show {
  position: relative;
  border: none;
  width: 170px;
  height: 70px;
  border-radius: 5px;
  text-align: left;
  padding-left: 23px;
  cursor: text;
}
.list .show-ingredients {
  background-color: #3282F7;
}
.list .show-appareil {
  background-color: #68D9A4;
}
.list .show-ustensiles {
  background-color: #ED6454;
}
.list .show i {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -9px;
  cursor: pointer;
}
.list .expanded {
  display: none;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  padding: 23px 40px 15px 23px;
}
.list .expanded-ingredients {
  background-color: #3282F7;
}
.list .expanded-appareil {
  background-color: #68D9A4;
}
.list .expanded-ustensiles {
  background-color: #ED6454;
}
.list .expanded-close {
  position: absolute;
  top: 25px;
  right: 20px;
  border: none;
  background-color: inherit;
}
.list .expanded input {
  background-color: inherit;
}
.list .listed {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 70px;
  max-width: 667px;
  padding: 25px 0 15px 0;
  background-color: inherit;
}
.list .listed-item {
  width: 175px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.recipes-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 5%;
}

.recipe {
  width: 30%;
  border-radius: 5px;
  background-color: #E7E7E7;
}
.recipe-img {
  height: 178px;
  width: 100%;
  background-color: #C7BEBE;
}
.recipe-content {
  padding: 20px;
  height: 186px;
}
.recipe-header, .recipe-details {
  display: flex;
  justify-content: space-between;
}
.recipe-title {
  max-width: 215px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.recipe-time {
  max-width: 85px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.recipe-time i {
  padding: 0 3px;
}
.recipe-details {
  padding-top: 20px;
}
.recipe-ingredients {
  flex: 0.9;
  height: 87px;
  overflow: hidden;
  padding-right: 10px;
  line-height: 0.8rem;
}
.recipe-directions {
  flex: 1;
  height: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

form {
  position: relative;
  z-index: 1;
}

.search-narrow {
  margin: 17px 0 80px 0;
}

/*# sourceMappingURL=.style.css.map */
