*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
  }

  input {
    border: none;
    outline: none;
  }
  
  html {
    max-width: 1415px;
    margin: auto;
    padding: 0 50px;
    font-size: 100%;
  }